/*1 logo*/
/**{
  background-color:black;
}*/
.cube{
  width:60px;
  height:60px;
  position:absolute;
  top:50px;
  left:50px;
  /*align-items:center;*/
  transform-style:preserve-3d;
  transform: rotateX(240deg) rotateY(-5deg) rotateZ(-155deg);
}

.side{
  width:100%;
  height:100%;
  top:0;
  left:0;
  position: absolute;
  border-radius:10%;
}
.top{
  transform:translateZ(-60px);
  background:blue;
}

.front{
  transform:rotateX(90deg);
  transform-origin: bottom;
  background:red;
}

.left{
  width:60px;
transform: translateZ(-60px) rotateY(90deg);
transform-origin: right;
background:pink;
}
body {
/*2*/
  background-image: url(/GREAT.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.menu-bar {
  background: rgb(95, 95, 95);
  text-align: center;
}
.menu-bar ul {
  display: inline-flex;
  list-style: none;
  color: #fff;
}
.menu-bar ul li {
  width: 120px;
  margin: 15px;
  padding: 15px;
}
.menu-bar ul li a {
  text-decoration: none;
  color: white;
}
.active,
.menu-bar ul li:hover {
  background-color: rgb(105, 156, 175);
  border-radius: 3px;
}
.menu-bar .fa {
  margin-right: 10px;
}
.sub-menu-1 {
  display: none;
}
.menu-bar ul li:hover .sub-menu-1 {
  display: block;
  position: absolute;
  background: rgb(95, 95, 95);
  margin-top: 15px;
  margin-left: -15px;
}
/*3 main*/

.a{
  background:green;
  width:200px;
  height:200px;
  border-radius:50%;
}

.b{
  background:blue;
  width:200px;
  height:200px;
  border-radius:50%;
  margin-left:200px;
}

.c{
  background:yellow;
  width:200px;
  height:200px;
  border-radius:50%;
  margin-left:400px;
}

.d{
  background:red;
  width:200px;
  height:200px;
  border-radius:50%;
  margin-left:600px;
}
